* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@mixin flex($dir: row, $ai: center, $jc: center) {
    display: flex;
    flex-direction: $dir;
    align-items: $ai;
    justify-content: $jc;
}

.wrapper {
    display: flex;
    flex-direction: column;

}
// header section
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 130px;
    background: #FFFFFF;
    z-index: 999;
    // background-color: aqua;

    a {
        text-decoration: none;
        color: black;
    }

    ul {
        list-style: none;
    }

    .brand-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        padding-right: 10px;

        a {
            width: 154px;
            height: 46px;

            font-family: 'Assistant';
            font-style: normal;
            font-weight: 800;
            font-size: 35px;
            line-height: 46px;

            /* identical to box height */
            text-align: center;
            text-transform: uppercase;

            color: #FF4917;

        }


    }

    .header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 35%;

        .ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            //background-color: rgb(250, 215, 220);

            .nav-li {

                width: auto;
                height: 24px;

                font-family: 'Assistant';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;

                /* identical to box height */
                text-align: center;

                color: #14212A;
            }
        }
    }

    .header-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 30%;

        .btn {
            outline: none;
            border: none;
            border-radius: 15px 15px;
            height: 50%;
            background-color: black;
            color: white;
        }
    }
}
// home section
.home {
    min-height: 100vh;

    .crsl {

        top: 130px;
        height: 100vh;
        width: 100%;
        .crsl-content{
            position: absolute;
            top:20vh;
            left: 20vw;
            width: 100%;
            height: 100%;
            z-index: 13;
            // background-color: #FF4917;
            .sec-1 {
                text-align: left;
                width: 100%;
                width: 875px;
                height: 27px;
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 600;
                font-size: 21px;
                line-height: 27px;
                letter-spacing: 0.68em;
                text-transform: uppercase;
                color: #FFFFFF;

            }

            .sec-2 {
                width: 875px;
                text-align: left;
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 700;
                font-size: 96px;
                line-height: 106px;
                letter-spacing: -0.02em;
                color: #FFFFFF;
            }
        }

    }

    .home-top {
        width: 100%;
        height: 100vh;
        padding-left: 20vw;

        color: #fff;
        position: absolute;
        z-index: 12;
        top: 0px;

        width: 100%;
        text-align: center;

        background: linear-gradient(to bottom, rgba(18, 42, 66, .50), rgba(18, 42, 66, .5));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .home-content {
            z-index: 13;
            position: relative;
            color: black;
            @include flex($ai:flex-end,$jc:flex-start);
            padding-bottom: 16%;
            width: 100%;
            min-height: 100%;
            // background-color: lawngreen;
            // .sec-1 {
            //     text-align: left;
            //     width: 100%;
            //     width: 875px;
            //     height: 27px;
            //     font-family: 'Assistant';
            //     font-style: normal;
            //     font-weight: 600;
            //     font-size: 21px;
            //     line-height: 27px;
            //     letter-spacing: 0.68em;
            //     text-transform: uppercase;
            //     color: #FFFFFF;

            // }

            // .sec-2 {
            //     width: 875px;
            //     text-align: left;
            //     font-family: 'Assistant';
            //     font-style: normal;
            //     font-weight: 700;
            //     font-size: 96px;
            //     line-height: 106px;
            //     letter-spacing: -0.02em;
            //     color: #FFFFFF;
            // }

            .sec-3 {
                width: 875px;
                text-align: left;

                .btn-1 {
                    color: #FFFFFF;
                    background: #FF4917;
                    border-radius: 34px;
                }

                .btn-2 {
                    color: black;
                    background: #FFFFFF;
                    border-radius: 34px;
                }
            }
        }
    }
}

.btn {
    outline: none;
    border: none;
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
//about section
.about {
    display: flex;
    min-height: 100vh;
    width: 100%;

    // background-color: red;
    .left-sec {
        @include flex($jc:flex-end);
        width: 50%;
        padding-right: 10%;
        min-height: 50vh;

        // background-color: #1774ff;
        img.image {
            width: 50%;
        }
    }

    .right-sec {
        width: 50%;
        min-height: 50vh;
        // background-color: #1a0904;
        @include flex($dir:column, $ai:flex-start);

        .row-1 {
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 29px;

            color: #FF4917;


        }

        .row-2 {
            width: 50%;

            h2 {
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 57px;

                /* or 114% */
                letter-spacing: -0.02em;

                color: #14212A;
            }
        }

        .row-3 {
            width: 50%;
        }

        .row-4 {
            ul {
                padding-left: 1rem;

                li::marker {
                    color: #FF4917;

                }
            }
        }

        .row-5 {
            .btn-3 {
                color: #FFFFFF;
                background: #FF4917;
                border-radius: 34px;
            }
        }
    }
}

.services {
    @include flex($dir:column);
    width: 100%;
    min-height: 100vh;
    background: #F5F5F5;
    .ttl {
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 29px;

        color: #FF4917;
        margin-bottom: 30px;
    }

    .hd {
        @include flex();
        width: 35%;

        h2 {
            text-align: center;
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 57px;

            /* or 114% */
            letter-spacing: -0.02em;

            color: #14212A;
        }
    }

    .cards {
        padding: 3%;
        gap:15px;
        @include flex();

        .card {
            @include flex($dir:column);

            width: 270px;
            height: 321px;
            background: #fff;
            border-top-right-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
            transition: all 0.3s ease-out;
            text-decoration: none;

            .image {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            h6 {
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 33px;

                /* identical to box height */
                text-align: center;
                margin-bottom: 0px;
                color: #14212A;
            }

            p {
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                padding-left:10px;
                padding-right:10px;
                padding-top: 5px;
                padding-bottom: 8px;
                color: #616161;
                margin: 0px;


            }
        }

        .card:hover {
            transform: translateY(-5px) scale(1.005) translateZ(0);
            box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
                0 24px 46px var(--box-shadow-color);
        }

        .card:active {
            transform: scale(1) translateZ(0);
            box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
                0 15px 24px var(--box-shadow-color);
        }



    }

    .bb-hover {
        transition: all 0.25s ease-in;
        border-bottom: 7px solid transparent;
    }

    .bb-hover:hover,
    .bb-hover:focus {
        transform: translateY(-5px);
        border: none;
        border-bottom: 7px solid #FF4917;
    }


}
// video section
.video-sec{
    height: 60vh;
    position: relative;
    video {
        object-fit: fill;
      }
    #bg-video {
        min-width: 100%;
        max-height: 100%;
      }

      /* Add some content at the bottom of the video/page */
      .content {
        position: absolute;
        top: 0;
        right: 0;
        @include flex();
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        height: 100%;
        padding: 20px;
        .left-sec{
            @include flex($dir:column,$ai:flex-start);
            width: 50%;
            padding-left: 20%;
            //background-color: red;
            .row-1 {

                font-family: 'Assistant';
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 29px;

                color: #FFFFFF;


            }

            .row-2 {
                width: 100%;
                // background-color: blue;
                h2 {
                    @include flex();
                    width: 100%;
                    font-family: 'Assistant';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 57px;

                    /* or 114% */
                    letter-spacing: -0.02em;

                    color: #FFFFFF;
                    // background-color: #FF4917


                }
            }
            .row-3{
                .btn-4{
                    color: #FFFFFF;
                    background: #FF4917;
                    border-radius: 34px;
                }
            }
        }
        .right-sec{
            @include flex();
            width: 50%;
  
            
        }
      }

      /* Style the button used to pause/play the video */
      #myBtn {

        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
        z-index: 100;
      }

      #myBtn:hover {
        background: #ddd;
        color: black;
      }
}

//feaures section

.features{
    width: 100%;
    min-height: 140vh;
    @include flex($dir:column);
    .row-1 {

        font-family: 'Assistant';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 29px;

        color: #FF4917;

    }

    .row-2 {
        width: 100%;
        // background-color: blue;
        h2 {
            @include flex();
            width: 100%;
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 57px;

            /* or 114% */
            letter-spacing: -0.02em;

            color: #050000;
            // background-color: #FF4917


        }
    }
    .ft-list{
        @include flex();
        flex-wrap: wrap;
        margin-top: 30px;
        width: 70%;
        gap:25px;
        .ft-item{
            position: relative;
            width: 367.5px;
            .triangle-1{
                position: absolute;
                left: 0px;
                bottom: 0px;
                z-index: 11;
                width: 0; 
                height: 0; 
                border-left: 300px solid rgba(255, 73, 23, 0.8);
                border-right: 0px solid transparent;
                border-top: 300px solid transparent;
           
              }
              
              .triangle-2{
                position: absolute;
                left: 0px;
                bottom: 0px;
                z-index: 10;
                width: 0; 
                height: 0; 
                border-left: 367.5px solid rgba(255, 73, 23, 0.6);;
                border-right: 0px solid transparent;
                border-top: 367.5px solid transparent;
           
              }
              .content{
                position: absolute;
                left: 0px;
                bottom: 0px;
                z-index: 12;
                @include flex($dir:column,$ai:flex-start,$jc:flex-end);
                padding-left: 15px;
                padding-bottom: 15px;
                color:#fff;
                h6{
                    font-family: 'Assistant';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 31px;
                    letter-spacing: -0.02em;
                    margin-bottom: 0px;
                    color: #FFFFFF;
                }
                span{
                    font-family: 'Assistant';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                    letter-spacing: -0.02em;

                    color: #FFFFFF;
                }
              }
           
        }
       
    }
}

//Section What we do

.what-we-do{
    @include flex($dir:column);
    min-width: 100%;
    min-height: 140vh;
    position: relative;
    .sec-1{
        min-width: 100%;
        min-height: 40vh;
    }
    .sec-2{
        min-width: 100%;
        background: #F5F5F5;
        min-height: 100vh;
    }
    .sec-3{
        position: absolute;
        top: 5%;
        left:20%;
        min-width: 60%;
        min-height: 60%;
        background: #14212A;
        @include flex();
        .left-sec{
            @include flex();
            width: 50%; 
            background-color: rgb(0, 255, 179);          
        }
        .right-sec{
            @include flex($dir:column,$ai:flex-start,$jc:flex-start);
            width: 50%;
            padding-left: 0px;
            // background-color: red;
            .row-1 {

                font-family: 'Assistant';
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 29px;

                color: #FFFFFF;


            }

            .row-2 {
                width: 70%;
                // background-color: blue;
                h2 {
                    @include flex();
                    width: 100%;
                    font-family: 'Assistant';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 57px;

                    /* or 114% */
                    letter-spacing: -0.02em;

                    color: #FFFFFF;
                    // background-color: #FF4917


                }
            }
            .row-3{
                ul {
                    padding-left: 1rem;
                    color: white;
                    li::marker {
                        color: #FF4917;
    
                    }
                }
            }
            .row-4{
                width: 90%;
                .btn-4{
                    color: #FFFFFF;
                    background: #FF4917;
                    border-radius: 34px;
                }
            }
            p{
                width: 90%;
                color: white !important;
            }
        }
       
    }
}